<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/sign_up.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <form id="signupForm">
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" name="fullname">
      
          <label for="email">Email</label>
          <input type="email" id="email" name="email">
      
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
      
          <input type="submit" value="Submit">
        </form>
      
        <div class="link-container">
          <a href="/html/login.html">Existing User: Log in</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script src="../js/signup.js"></script>      
</body>
</html>