<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="sign_up.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form id="loginForm">
          <label for="email">Email</label>
          <input type="email" id="email" name="email">
      
          <label for="password">Password</label>
          <input type="password" id="password" name="password">
      
          <input type="submit" value="Submit">
        </form>
      
        <div class="link-container">
          <a href="/sign_up.html">New User: Sign Up</a>
          <a href="/forgotpassword.html">| Forgot Password</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>